In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#brl = 'https://drive.google.com/uc?id=108l1J4wtGDIuOdFwbqq1GQHPQJtYcMGM/'
df = pd.read_csv('books.csv')
df.shape

(1011, 25)

In [ ]:
df.dropna(subset=['original_title'], inplace=True)
df.shape

(929, 25)

In [ ]:
len(df.book_id.unique())

929

In [ ]:
rat = pd.read_csv('ratings.csv')
rat.shape

(743859, 3)

In [ ]:
users = np.where(rat.book_id.isin(df.book_id), rat.user_id, np.nan)
x = users[np.logical_not(np.isnan(users))]
print(len(np.unique(x)))
print(len(np.unique(users)))
print(np.unique(x))

52826
52827
[1.0000e+00 2.0000e+00 3.0000e+00 ... 5.3422e+04 5.3423e+04 5.3424e+04]

In [ ]:
tags = pd.read_csv('book_tags.csv')
tags.head()

   goodreads_book_id  tag_id   count
0                343   30574  107894
1                343    8717    4119
2                343   11557    3262
3                343   11743    2637
4                343   14487    1473

In [ ]:
tags.shape

(101600, 3)

In [ ]:
tags.head()

   goodreads_book_id  tag_id   count
0                343   30574  107894
1                343    8717    4119
2                343   11557    3262
3                343   11743    2637
4                343   14487    1473

In [ ]:
newt = pd.read_csv('book_tags.csv')
newt.shape

(101600, 3)

In [ ]:
df['goodreads_book_id']

0          24929
1           4530
3       10047589
4       18656036
5       22874559
          ...
1004    20639274
1005     7952502
1006    20829994
1007    21853621
1010    32075671
Name: goodreads_book_id, Length: 929, dtype: int64

In [ ]:
newt = newt[newt.goodreads_book_id.isin(df.goodreads_book_id)]
newt.shape

(92900, 3)

In [ ]:
pd.set_option('display.max_rows', 500)
newt['tag_id'].value_counts(sort=True).sort_index()

23       2
35       1
37       1
38       1
47       1
        ..
34185    2
34239    1
34247    2
34248    1
34251    1
Name: tag_id, Length: 5802, dtype: int64

In [ ]:
d = {}
for idx, row in newt.iterrows():
  if row['goodreads_book_id'] in d.keys():
    d[row['goodreads_book_id']]+=row['count']
  else:
    d[row['goodreads_book_id']]=row['count']
print(len(d.keys()), len(newt.goodreads_book_id.unique()))

929 929

In [ ]:
max=0
max2=0
maxd=0
max2d=0
for i in d.keys():
  if d[i]>max:
    max2=max
    max=d[i]
    max2d=maxd
    maxd=i
  else:
    continue
print(max2,max2d)

134053 343

In [ ]:
print(max,maxd)

493022 930

In [ ]:
df[df['goodreads_book_id']==930]['title']

741    Memoirs of a Geisha
Name: title, dtype: object

In [ ]:
min=1000000000
mind=100000
for i in d.keys():
  if d[i]<min:
    min=d[i]
    mind=i
  else:
    continue
print(min,mind)

312 824318

In [ ]:
df[df['goodreads_book_id']==824318]

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url,NonEnglish,round
918,8343,824318,824318,810094,8,804467250,9.780800e+12,"Dick Riley, Pam McAllister, Bruce Cassiday",1979.0,"The Bedside, Bathtub and Armchair Companion t...",...,25,141,323,1775,2879,5287,https://images.gr-assets.com/books/1409153866m...,https://images.gr-assets.com/books/1409153866s...,0,4

In [ ]:
newt.shape

(92900, 3)

In [ ]:
tr = pd.read_csv('toread.csv')
tr.shape

(135160, 2)

In [ ]:
tr.head()

   user_id  book_id
0       15      275
1      124        5
2       94     1239
3       94       10
4      228     1519

In [ ]:
tr = tr[tr.book_id.isin(df.book_id)]
tr.shape

(127968, 2)

In [ ]:
e = {}
for idx, row in tr.iterrows():
  if row['book_id'] in e.keys():
    e[row['book_id']]+=1
  else:
    e[row['book_id']]=1
print(len(e.keys()), len(tr.book_id.unique()))

927 927

In [ ]:
maxe=0
maxe2=0
maxed=0
maxe2d=0
for i in e.keys():
  if e[i]>maxe:
    maxe2=maxe
    maxe=e[i]
    maxe2d=maxed
    maxed=i
  else:
    continue
print(maxe2,maxe2d)
print(maxe,maxed)

1767 11
2772 47

In [ ]:
df[df['book_id']==47]

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url,NonEnglish,round
984,47,19063,19063,878368,251,375831002,9.780380e+12,Markus Zusak,2005.0,The Book Thief,...,93611,17892,35360,135272,377218,722056,https://images.gr-assets.com/books/1390053681m...,https://images.gr-assets.com/books/1390053681s...,0,4

In [ ]:
df.loc[df['work_ratings_count'] == 2773745]

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url,NonEnglish,round
407,5,4671,4671,245494,1356,743273567,9.780740e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...,0,4

In [ ]:
df[df['average_rating']==2.8]

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url,NonEnglish,round
0,9021,24929,24929,1130986,18,60988649,9.780060e+12,"Gregory Maguire, Douglas Smith",2001.0,Lost,...,921,1749,3377,4518,2237,1056,https://images.gr-assets.com/books/1407711681m...,https://images.gr-assets.com/books/1407711681s...,0,3

In [ ]:
len(newt['tag_id'].unique())

5802

In [ ]:
df.describe()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn13,original_publication_year,average_rating,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,NonEnglish,round
count,929.000000,9.290000e+02,9.290000e+02,9.290000e+02,929.000000,8.420000e+02,929.000000,929.000000,9.290000e+02,9.290000e+02,929.000000,929.000000,929.000000,929.000000,929.000000,9.290000e+02,929.0,929.000000
mean,4786.087191,8.968787e+06,9.281897e+06,1.412185e+07,73.781485,9.738079e+12,2000.244349,3.920721,7.916482e+04,8.841179e+04,5401.652314,1918.390743,4786.995694,17373.912809,29951.566200,3.438093e+04,0.0,3.959096
std,3030.264330,9.466186e+06,9.720265e+06,1.517617e+07,197.421254,5.546942e+11,34.642813,0.236958,2.129934e+05,2.288898e+05,10338.560088,5843.005253,12617.785166,41432.190072,74106.920058,1.019293e+05,0.0,0.213866
min,5.000000,3.430000e+02,3.430000e+02,9.800000e+01,1.000000,1.230000e+12,1554.000000,2.800000,3.799000e+03,8.484000e+03,25.000000,60.000000,195.000000,1000.000000,1381.000000,1.056000e+03,0.0,3.000000
25%,2102.000000,1.133040e+05,1.141440e+05,1.650517e+06,22.000000,9.780320e+12,2001.000000,3.780000,1.465100e+04,1.677100e+04,1277.000000,306.000000,947.000000,3804.000000,5928.000000,5.124000e+03,0.0,4.000000
50%,4752.000000,6.338619e+06,6.512140e+06,6.674135e+06,40.000000,9.780450e+12,2009.000000,3.930000,2.264400e+04,2.658800e+04,2441.000000,552.000000,1570.000000,5945.000000,9228.000000,8.545000e+03,0.0,4.000000
75%,7528.000000,1.731443e+07,1.778840e+07,2.359365e+07,65.000000,9.780808e+12,2013.000000,4.080000,5.018100e+04,5.604200e+04,5104.000000,1264.000000,3635.000000,12549.000000,19533.000000,1.970900e+04,0.0,4.000000
max,9965.000000,3.328864e+07,3.437131e+07,5.400753e+07,3455.000000,9.789740e+12,2017.000000,4.620000,2.683664e+06,2.773745e+06,140739.000000,86236.000000,197621.000000,606158.000000,936012.000000,1.311871e+06,0.0,5.000000

In [ ]:
df[df['original_publication_year']==2000].shape

(19, 25)

In [ ]:
from textblob import TextBlob

In [ ]:
count=0
for idx,row in df.iterrows():
  if TextBlob(row['title']).sentiment.polarity>0:
    count+=1
  else:
    continue
count

120

In [ ]:
df.shape

(929, 25)